.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 50px 50px 200px;
    grid-gap: 3px;
}

.logo {
  position: sticky;
}

.menu {
    background-color: #ff6f69;
}
